#######################################
## General macOS shell configuration ##
#######################################

# zsh configuration

## Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"
DISABLE_AUTO_UPDATE="true"

## Theme configuration
ZSH_THEME="spaceship-prompt/spaceship"

SPACESHIP_PROMPT_SEPARATE_LINE="false"
SPACESHIP_CHAR_SUFFIX=" "

## zsh options
HIST_STAMPS="yyyy-mm-dd"

## Plugin configuration
plugins=(
  git
  op
)

source $ZSH/oh-my-zsh.sh

# Homebrew
CPU=$(uname -p)
if [[ "$CPU" == "arm" ]]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
else
  eval "$(/usr/local/bin/brew shellenv)"
fi
export HOMEBREW_GITHUB_API_TOKEN={{ (onepasswordDetailsFields "4hkfgrtj2vgvdlcwxbhwsl2uva").password.value }}

# Binary search path setup
export PATH=$HOME/bin:$PATH
export GOPATH=$HOME/bin/go

export MAKEOPTS="-j4"
export EDITOR="nano"

alias ls="ls -G"
alias nh='unset HISTFILE'
alias beep='osascript -e "beep 1"'

alias qr="qrcode-terminal"

# asdf
. /usr/local/opt/asdf/libexec/asdf.sh
eval "$(direnv hook zsh)"

# Import environment-specific configuration based on chezmoi org
localconfig="$HOME/.config/zsh/config-{{- .org }}"

if test -e "$localconfig.zsh"; then
    source "$localconfig.zsh"
fi

# Disable husky
## https://typicode.github.io/husky/#/?id=bypass-hooks
## husky pre-commit/push hooks cause IDE sadness with little immediate feedback
export HUSKY=0

# ansible credstash bug
export no_proxy='*'
