
# Foundations
tap "homebrew/bundle"
brew "mas"

brew "zsh"

brew "chezmoi"

brew "ffmpeg"

# Common Utilities
## 1Password
cask "1password"
cask "1password-cli"
cask "transmit"

## CLI Helpers
{{- if eq .org "unlobito" }}
brew "telnet"
{{- end }}
brew "binwalk"
brew "jq"
brew "curl"
brew "wget"
brew "rename"
brew "pandoc"
brew "git"
brew "gh"
brew "httpie"
brew "mosh"
brew "mtr"
brew "pv"
brew "youtube-dl"
brew "picocom"
brew "gifsicle"
brew "m1ddc"


{{- if eq .org "unlobito" }}
brew "binwalk"
brew "ffmpeg"
brew "gnupg"
brew "graphviz"
brew "nmap"
brew "youtube-dl"
brew "influxdb"
{{- end }}


# Software Engineering
brew "asdf"
brew "git-lfs"

cask "dash"
cask "docker"
cask "hex-fiend"
cask "iterm2"
cask "kdiff3"
cask "sourcetree"
cask "visual-studio-code"
cask "wireshark"

## NFC Dev
{{- if eq .org "unlobito" }}
brew "libffi"
brew "libfreefare"
brew "libnfc", args: ["HEAD"]
brew "mfcuk"
brew "mfoc", link: false

{{- end }}

## Language: Python
brew "pyenv"
brew "pyenv-virtualenv"

## Language: JavaScript
brew "node"
brew "nvm"
brew "fswatch"
brew "watch"
brew "watchman"

## Language: Java
{{- if eq .org "skyscanner" }}
cask "visualvm"
{{- end }}

## Language: Go
brew "go"


# iWork Default
mas "GarageBand", id: 682658836
mas "iClip", id: 468369783
mas "iMovie", id: 408981434
mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "Pages", id: 409201541


# Applications
## Browsers
cask "firefox"
cask "google-chrome"

## Utilities
cask "arq"
cask "appcleaner"
cask "archiver"
cask "cameracontroller"
cask "coconutbattery"
cask "elgato-stream-deck"
cask "handbrake"
cask "inkscape"
cask "monitorcontrol"
cask "pdf-expert"
cask "qflipper"
cask "secretive"
cask "thonny"
cask "insomnia"
cask "rectangle"
cask "obs"
cask "wireshark"
cask "plex"
cask "vlc"
mas "Amphetamine", id: 937984704
mas "Brother P-touch Editor", id: 1453365242
mas "Speedtest", id: 1153157709
mas "Parcel", id: 639968404
mas "Xcode", id: 497799835

{{- if eq .org "unlobito" }}
cask "balenaetcher"
cask "calibre"
cask "db-browser-for-sqlite"
cask "deluge"
cask "electrum"
cask "slack"
cask "monero-wallet"
cask "ngrok"
cask "vmware-fusion"
mas "Apple Configurator 2", id: 1037126344
mas "Discovery", id: 1381004916
mas "Joystick Mapper", id: 528183797
mas "MQTTX", id: 1514074565
mas "Microsoft Remote Desktop", id: 715768417
mas "Money", id: 1185488696
mas "Parcel", id: 639968404
mas "Prepo", id: 476533227
{{- end }}

## age
brew "age"

## Yubikey
cask "yubico-yubikey-manager"
brew "yubico-piv-tool"
brew "ykpers"
brew "ykman"
mas "YubiKey Personalization Tool", id: 638161122

## Social
cask "telegram"
mas "Ivory", id: 6444602274

{{- if eq .org "unlobito" }}
cask "steam"
mas "WhatsApp", id: 1147396723
cask "mumble"
cask "openemu"
{{- end }}

## Amateur Radio
{{- if eq .org "unlobito" }}
cask "cubicsdr"
cask "gqrx"
mas "EchoHam", id: 873302145
{{- end }}

## Home Automation
mas "Home Assistant", id: 1099568401

## Computer security
brew "nmap"
{{- if eq .org "unlobito" }}
cask "metasploit"
cask "zenmap"
{{- end }}

# Platforms
## AWS
tap "aws/tap"
brew "awscli"
{{- if eq .org "skyscanner" }}
brew "aws/tap/aws-sam-cli"
brew "cfn-lint"
{{- end }}

## Heroku
{{- if eq .org "unlobito" }}
tap "heroku/brew"
brew "heroku/brew/heroku"
{{- end }}

## Skyscanner
{{- if eq .org "skyscanner" }}
tap "mshell/mshell", "git@github.skyscannertools.net:mshell/homebrew-mshell.git"
brew "mshell/mshell/skyscanner-bundle"
brew "mshell/mshell/artifactory-cli-login"

brew "pinentry"

tap "snyk/tap"
brew "snyk/tap/snyk"

brew "sonar-scanner"

brew "protobuf"
brew "vegeta"

brew "kubectx"
brew "k9s"

cask "intellij-idea"

cask "lastpass"
cask "meetingbar"
{{- end }}
