# Foundations
tap "homebrew/bundle"
brew "mas"
brew "zsh"
brew "chezmoi"


# Common Utilities
## 1Password
cask "1password"
cask "1password-cli"
cask "transmit"

## CLI Helpers
{{- if eq .org "unlobito" }}
brew "telnet"
{{- end }}
brew "binwalk"
brew "curl"
brew "gh"
brew "gifsicle"
brew "git"
brew "htop"
brew "jq"
brew "lynx"
brew "m1ddc"
brew "magic-wormhole"
brew "mosh"
brew "mtr"
brew "pandoc"
brew "picocom"
brew "pv"
brew "rclone"
brew "screenresolution"
brew "wget"
brew "yt-dlp"

{{- if eq .org "unlobito" }}
brew "binwalk"
brew "esptool"
brew "ffmpeg"
brew "gnupg"
brew "goaccess"
brew "graphviz"
brew "nmap"
{{- end }}


# Software Engineering
brew "asdf"
brew "git-lfs"

brew "terraform"
cask "dash"
cask "docker"
cask "hex-fiend"
cask "hex-fiend"
cask "iterm2"
cask "sourcetree"
cask "visual-studio-code"
cask "wireshark"

## NFC Dev
{{- if eq .org "unlobito" }}
brew "hackrf"
brew "libffi"
brew "libfreefare"
brew "libnfc", args: ["HEAD"]
brew "mfcuk"
brew "mfoc", link: false

tap "rfidresearchgroup/proxmark3"
brew "rfidresearchgroup/proxmark3/proxmark3"
{{- end }}

## Language: Python
brew "pyenv"
brew "pyenv-virtualenv"

## Language: JavaScript
brew "node"
brew "nvm"
brew "fswatch"
brew "watch"
brew "watchman"

{{- if eq .org "unlobito" }}
brew "deno"
{{- end }}

{{- if eq .org "skyscanner" }}
## Language: Java
cask "visualvm"
{{- end }}

## Language: Go
brew "go"


# iWork Default
mas "GarageBand", id: 682658836
mas "iClip", id: 468369783
mas "iMovie", id: 408981434
mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "Pages", id: 409201541


# Applications
## Browsers
cask "firefox"
cask "google-chrome"

## Utilities
cask "appcleaner"
cask "archiver"
cask "arq"
cask "bartender"
cask "cameracontroller"
cask "coconutbattery"
cask "elgato-stream-deck"
cask "handbrake"
cask "inkscape"
cask "insomnia"
cask "monitorcontrol"
cask "obs"
cask "pdf-expert"
cask "plex"
cask "qflipper"
cask "rectangle"
cask "secretive"
cask "thonny"
cask "vlc"
cask "wireshark"
mas "Amphetamine", id: 937984704
mas "Brother P-touch Editor", id: 1453365242
mas "Speedtest", id: 1153157709
mas "Xcode", id: 497799835

## age
brew "age"

{{- if eq .org "unlobito" }}
## numworks
tap "numworks/tap"
brew "numworks/tap/arm-none-eabi-gcc"
{{- end }}

## Yubikey
cask "yubico-authenticator"
cask "yubico-yubikey-manager"
brew "yubico-piv-tool"
brew "ykpers"
brew "ykman"
mas "YubiKey Personalization Tool", id: 638161122

## Social
cask "telegram"
mas "Ivory", id: 6444602274

{{- if eq .org "unlobito" }}
brew "qdmr"
brew "platformio"

cask "arduino"
cask "audacity"
cask "balenaetcher"
cask "calibre"
cask "chirp"
cask "discord"
cask "electrum"
cask "ghidra"
cask "keepassxc"
cask "keybase"
cask "knockknock"
cask "krisp"
cask "little-snitch"
cask "monero-wallet"
cask "nordvpn"
cask "openscad"
cask "oscar"
cask "slack"
cask "steam"
cask "syncthing"
cask "teamspeak-client"
cask "tor-browser"
cask "transmission"
cask "utm"
cask "veracrypt"

mas "Apple Configurator", id: 1037126344
mas "MQTTX", id: 1514074565
mas "Smart Card Utility", id: 1444710309
mas "WhatsApp", id: 1147396723

tap "homebrew/cask-versions"
cask "signal-beta"
{{- end }}

## Amateur Radio
{{- if eq .org "unlobito" }}
brew "rtl_433"
brew "soapysdr"
brew "urh"

cask "cubicsdr"
cask "gqrx"

mas "EchoHam", id: 873302145
{{- end }}

## Home Automation
mas "Home Assistant", id: 1099568401

## Computer security
brew "nmap"

# Platforms
## AWS
tap "aws/tap"
brew "awscli"
{{- if eq .org "skyscanner" }}
brew "aws/tap/aws-sam-cli"
brew "cfn-lint"
{{- end }}

## Skyscanner
{{- if eq .org "skyscanner" }}
tap "mshell/mshell", "git@github.skyscannertools.net:mshell/homebrew-mshell.git"
brew "mshell/mshell/skyscanner-bundle"
brew "mshell/mshell/artifactory-cli-login"

brew "pinentry"

tap "snyk/tap"
brew "snyk/tap/snyk"

brew "sonar-scanner"

brew "protobuf"
brew "vegeta"

brew "kubectx"
brew "k9s"

cask "intellij-idea"

cask "meetingbar"
{{- end }}
