################################
## SKY specific configuration ##
################################


## This file should not contain any secrets or sensitive information.
## Any secret data that needs to be synced between computers should
## be accessed using 1password-cli.

# grapplercat
autoload -U +X bashcompinit && bashcompinit
complete -o nospace -C /usr/local/bin/grapplercat-autocomplete grapplercat

# nvm
export NVM_DIR="$HOME/.nvm"

CPU=$(uname -p)
if [[ "$CPU" == "arm" ]]; then
  . "/opt/homebrew/opt/nvm/nvm.sh"
else
  . "/usr/local/opt/nvm/nvm.sh"
fi

# drone settings
export DRONE_SERVER=https://drone-github.skyscannertools.net/
export DRONE_TOKEN={{ (onepasswordDetailsFields "zkgedkvu3lyqdzkykafz62zkay" "ts4gjgwr5kmqks5vfxkbkwmhsa" "skyscanner.1password.eu").password.value }}
