# This is Git's per-user configuration file.
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[difftool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[user]
	name = Harley Watson
	email = htw@lobi.to
[includeIf "gitdir:~/w/skyscanner/"]
	path = config-skyscanner.inc
[core]
	excludesfile = /Users/harleywatson/.gitignore_global
[commit]
	template = /Users/harleywatson/.stCommitMsg
